# Python
__pycache__/
*.pyc
*.pyo
*.env
*.venv/
*.pytest_cache/
*.log
*.sqlite3

# Node / Frontend
node_modules/
dist/
.env.local
.env.*.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
*.dockerignore
docker-compose.override.yml

# Temp files
*.tmp
